{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/conmanage.css' %}" rel="stylesheet"/>
    <title>LTE网络干扰分析系统-连接管理</title>

</head>
<body>
<div class="container">
    <div id="header">LTE网络干扰分析系统
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;连接管理</div>
    </div>


    <div class="wrapper">
        <div class="col-left">

            <div class="title">查看信息</div>
            {#            <a href="/information/" target="ifame_info">数据库连接时长</a>#}
            {#            <a href="/information/" target="ifame_info">数据库连接时长</a>#}
            {#            <div class="button">#}
            {#                <button type="submit" class="btn btn-primary float-right">配置信息</button>#}
            {#            </div>#}
            <div class="button">
                <button onclick="iframeclick(1)" class="btn btn-primary float-right">数据库连接时长</button>
            </div>
            <div class="button">
                <button onclick="iframeclick(2)" class="btn btn-primary float-right">数据库配置信息</button>
            </div>
            <script>
                function iframeclick(key) {
                    document.getElementById("iframe_info").src = "cate" + key + "/";
                    document.getElementById("iframe_info").style.display = "Block";
                };
            </script>
        </div>
        <div class="iframe">
            <iframe src="initframe/" id="iframe_info" width="600" height="250" frameborder="1"></iframe>
        </div>
    </div>
    <div class="col-right">
        <form class=configure" action="/conmanage/" method="post">
            {% csrf_token %}
            <div class="title">修改参数</div>
            <P>请输入参数：</P>
            连接时长：<input type="text" name="time"><br><br>
            缓冲区大小：<input type="text" name="cachesize"><br><br>
            <div class="button">
                <button type="submit" class="btn btn-primary float-right">确认修改</button>
            </div>
        </form>
    </div>

</div>

<div id="footer" style="clear:both;text-align:center;margin-top: 200px;">© BUPT数据库课设小组</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    以下三者的引用顺序是固定的#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>