{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/datamanage.css' %}" rel="stylesheet"/>
    {#    <link href="../../static/login/css/bootstrap.min.css" rel="stylesheet">#}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"></script>
    <script src="../../static/login/js/bootstrap.min.js"></script>
    <script src="../../static/login/js/docs.min.js"></script>
    <title>LTE网络干扰分析系统-数据管理</title>

</head>
<body>
<div class="container">
    <div id="header">LTE网络干扰分析系统
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据管理</div>
    </div>
</div>

<div class="wrapper">
    <div class="col-left">
        <form class="form-import" action="/datamanage/import" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if message %}
                <script>
                    alert('{{ message }}');
                </script>
                {#                <div class="alert alert-warning alert-dismissible">{{ message }}</div>#}
            {% endif %}
            <div class="title">数据导入</div>
            <div>导入目的表：
                <select name="table">
                    <option value="tbcell">tbCell</option>
                    <option value="tbkpi">tbKPI</option>
                    <option value="tbprb">tbPRB</option>
                    <option value="tbmrodata">tbMROData</option>
                </select><br>
            </div>
            <br>
            <div class="import-type">文件格式：
                <input type="radio" name="format" value="excel" checked>.xlsx&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="format" value="csv">.csv<br>
            </div>
            <br>
            <div>
                <p>源文件：</p>
                <input id="file1" type="file" name="upfile" accept=".xls,.xlsx,.csv" required/><br>
                <br>
            </div>

            <div class="button">
                <button type="submit" class="btn btn-primary float-right" onclick="OpenBar()">导入</button>
            </div>
            <script>
                function OpenBar() {
                    window.open('/progress_bar/','_blank','top=250,left=500,width=700,height=300,menubar=no,toolbar=no, status=no,scrollbars=yes')
                }
            </script>
        </form>
    </div>
    <div class="col-right">
        <form class="form-export" action="/datamanage/export" method="post">
            {% csrf_token %}
            <div class="title">数据导出</div>
            <div>选择关系表：</div>
            <select name="tables-export">
                <option value="tbCell">tbCell</option>
                <option value="tbKPI">tbKPI</option>
                <option value="tbPRB">tbPRB</option>
                <option value="tbMROData">tbMROData</option>
            </select><br>
            <br>
            <p>选择导出格式：</p>
            <input type="radio" name="format" value="excel" checked>.xlsx&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="format" value="csv">.csv<br>
            <br>
            <br>
            <div class="button">
                <button type="submit" class="btn btn-primary float-right">导出</button>
            </div>
        </form>
    </div>
</div>

<div id="footer" style="clear:both;text-align:center;margin-top: 200px;">© BUPT数据库课设小组</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    以下三者的引用顺序是固定的#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>