body {
    height: 100%;
    background-image: url('../images/bg2.jpg');
}

#header {
    font-size: 35px;
    color: #123844bf;
    margin: 10px 0 10px 0px;
    font-weight: bold;
    align-self: center;
}

.sub-header {
    font-size: 30px;
    /*color: #0c1a27ed;*/
    color: #123844bf;
    margin: 10px 0 0px 0px;
    font-weight: bold;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

/*.parent-wrapper {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-around;*/
/*    margin-top: 0;*/
/*    flex-wrap: nowrap;*/
/*}*/

.textbox {
    width: 1000px;
    height: 50px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #88c7dd85;
    border-radius: 10px;
    opacity: 0.8;
}

.param {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*align-items: center;*/
}

.title {
    margin: 10px 10px 10px 0;
    font-size: 28px;
    font-weight: 550;
    color: #212529;
}

.button {
    margin-left: -250px;
}

.table-container {
    width: 1000px;
    overflow-x: auto;
    border: 2px solid #888;
    border-radius: 4px;
    background-color: #b3d7ff;
        margin-top:20px;
}

.table-container::-webkit-scrollbar {
    display: none;
}

.table {
    font-size: 13px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background-color: transparent;
    margin: 16px 20px;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

#secName {
    min-width: 130px;
}
