body {
    height: 100%;
    background-image: url('../images/bg2.jpg');
}

#header {
    font-size: 35px;
    color: #123844bf;
    margin: 10px 0 10px 0px;
    font-weight: bold;
    align-self: center;
}

#footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 0;
}

.parent-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    flex-wrap: nowrap;
}

.col-left {
    width: 400px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88c7dd85;
    border-radius: 10px;
    opacity: 0.8;
}

.param {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-right {
    width: 400px;
    /*margin-top: 50px;*/
    /*margin-left: 100px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88c7dd85;
    border-radius: 10px;
    opacity: 0.8;
}

.title {
    margin: 10px 10px 10px 0;
    font-size: 28px;
    font-weight: 550;
    color: #212529;
}

.button {
    margin: 0 20px 20px;
}
