body {
    height: 100%;
    background-image: url('../images/bg.jpg');
}

#header {
    font-size: 35px;
    color: #fff;
    margin: 40px 0 100px -35px;
    font-weight: bold;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b3d7ff;
    border-radius: 10px;
    opacity: 0.8;
}

.title {
    margin: 20px auto;
    font-size: 20px;
    font-weight: 550;
    color: #222;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
}

.login-wrapper div{
    margin-left: auto;
    margin-right: auto;
}

.login-wrapper button {
    width: 120px;
}

.login-wrapper .admin {
    margin-top: 25px;
    margin-bottom: 20px;
}