<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'login/css/cell_info.css' %}" rel="stylesheet"/>
    <title>LTE网络干扰分析系统-业务查询</title>

</head>
<body>

<div class="container">
    <div id="header">LTE网络干扰分析系统
    </div>
    <div class="sub-header">小区配置项信息查询</div>
    {% if message %}
        <script>
            alert('{{ message }}');
        </script>
    {% endif %}
    <div class="wrapper">
        <div class="textbox">
            <form class="param" action="/infoquery/cell/" method="post">
                {% csrf_token %}
                <label>小区ID</label>
                <input type="text" name="cellid" id="cellid">
                <label>小区名称</label>
                <input type="text" name="cellname" id="cellname"><br>
                <div class="button">
                    <button type="submit" class="btn btn-primary float-right" name="submit" value="text">查询</button>
                </div>
            </form>
        </div>
        <div class="selectbox">
            <form class="param" action="/infoquery/cell/" method="post">
                {% csrf_token %}
                <label>选择小区名称</label>
                <select name="selected">
                    {% for name in name_list %}
                        <option value={{ name }}>{{ name }}</option>
                    {% endfor %}
                </select>
                <div class="button">
                    <button type="submit" class="btn btn-primary float-right" name="submit" value="select">查询</button>
                </div>
            </form>
        </div>
    </div>
    {#border="1" cellspacing="2" cellpadding="4" bgcolor="#ffffff" class="table" align="center"#}
    <div class="table-container">
        <table cellspacing="2" cellpadding="2" bgcolor="#ffffff" class="table">
            <thead>
            <tr>
                <th>CITY</th>
                <th>SECTOR_ID</th>
                <th id="secName">SECTOR_NAME</th>
                <th>ENODEBID</th>
                <th>ENODEB_NAME</th>
                <th>EARFCN</th>
                <th>PCI</th>
                <th>PSS</th>
                <th>SSS</th>
                <th>TAC</th>
                <th>VENDOR</th>
                <th>LONGITUDE</th>
                <th>LATITUDE</th>
                <th>STYLE</th>
                <th>AZIMUTH</th>
                <th>HEIGHT</th>
                <th>ELECTTILT</th>
                <th>MECHTILT</th>
                <th>TOTLETILT</th>
            </tr>
            </thead>
            <tbody>
            {% for dict in cell_dict %}
                <tr>
                    {% for key,val in dict.items %}
                        <td>{{ val }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<div id="footer" style="clear:both;text-align:center;margin-top: 200px;">© BUPT数据库课设小组</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    以下三者的引用顺序是固定的#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>